<!DOCTYPE html>
<html>
<head>
    <title>Books Database</title>
</head>
<body>
    <h1>Books</h1>
    <a href="/add">Add New Book</a>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <!-- Add other fields as necessary -->
            <th>Actions</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <!-- Display other fields -->
            <td>
                <a href="/edit/{{ book.id }}">Edit</a>
                <form action="/delete/{{ book.id }}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
